{% extends 'index.html' %}
{% load static %}

{% block content %}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>



<h1>My GoogleMap</h1>
<div id="map">


</div>
<button id="btn">Go</button>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>


<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js">


</script>

<script async defer

    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1GfHWxr871lHDL299zxsgFVjgnqE4e1s&callback=initMap&region=RU">
</script>

<script>
    $(document).ready(function() {
        var lat = {{ meet.lat }};
        var lng = {{ meet.lng }};
        var position = {"lat": lat, "lng": lng};
        addCurrnetMeetMarker(position);
    });

</script>

{% endblock %}