{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_field  %}


{% block content %}

<form id="post-list-filter-form" method="get">
    
<div class="col-3 input-effect inline">
    
        {% crispy_field filter.form.title 'class' 'effect-16' 'placeholder' 'Search' %}
        <span class="focus-border"></span>
</div><br>

<input hidden id="load-render-post-list-filtered" type="submit"/>

</form>


<div id="post-list">


    
</div>

    <div>
        <!-- <div class="col-3 input-effect inline">
            <input id="nin" class="effect-16" type="text" placeholder="Serach">
            <!-- <label>First Name</label> -->
            <!-- <span class="focus-border"></span>
        </div>  -->

        <!-- <div class="col-2 input-effect inline">
            <input id="select-tag-input" class="effect-16" type="text" placeholder="">
            <label>Tags</label>
            <span class="focus-border"></span>
        </div>
        <div id="selected-tags-list">

        </div>  -->
    </div>

    


    <script>


        $(document).ready(() => {

            $(".input-effect input").val("");
            $(".input-effect input").focusout(function () {
                if ($(this).val() != "") {
                    $(this).addClass("has-content");
                } else {
                    $(this).removeClass("has-content");
                }
            });

            // btnClickRemoveTagFromSelectedTagList();

            getModelListWithAPIAndToHTML('posts', '', loadAndRenderPostList, null);
            BtnClickPostListFilter();
        })
    </script>

{% endblock %}