{% extends 'index.html' %}
{% load static %}


{% block content %}

<form id="post-list-filter-form" method="get">
    {{ filter.form.as_p }}
    <input id="load-render-post-list-filtered" type="submit"/>
</form>

{% for obj in filter.qs %}
    {{ obj }}<br/>
{% endfor %}

<div id="post-list"></div>

    <div>
        <div class="col-3 input-effect inline">
            <input id="nin" class="effect-16" type="text" placeholder="">
            <label>First Name</label>
            <span class="focus-border"></span>
        </div>

        <div class="col-2 input-effect inline">
            <input id="select-tag-input" class="effect-16" type="text" placeholder="">
            <label>Tags</label>
            <span class="focus-border"></span>
        </div>
        <div id="selected-tags-list">

        </div>
    </div>

    


    <script>


        $(document).ready(() => {

            $(".input-effect input").val("");
            $(".input-effect input").focusout(function () {
                if ($(this).val() != "") {
                    $(this).addClass("has-content");
                } else {
                    $(this).removeClass("has-content");
                }
            });

            btnClickRemoveTagFromSelectedTagList();

            getModelListWithAPIAndToHTML('posts', '', loadAndRenderPostList, null);
            BtnClickPostListFilter();
        })
    </script>

{% endblock %}