<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" media="screen"/>
    <script src="../../static/js/3.4.1_jquery.js"></script>
    <script src="my.js"></script>
    <link rel="stylesheet" type="text/css" href="my.js" media="screen"/>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>

</head>
<body>

<!-- POST-LIST -->


<div class="container">


    <div>
        <div class="col-3 input-effect inline">
            <input id="nin" class="effect-16" type="text" placeholder="">
            <label>First Name</label>
            <span class="focus-border"></span>
        </div>

        <div class="col-2 input-effect inline">
            <input class="effect-16" type="text" placeholder="">
            <label>Tags</label>
            <span class="focus-border"></span>
        </div>

        <h6 class="inline"><span class="badge badge-primary"><a href="#"
                                                                style="color: white;text-decoration:none">&times;</a> Primary</span>
        </h6>
        <h6 class="inline"><span class="badge badge-primary"><a href="#"
                                                                style="color: white;text-decoration:none">&times;</a> Primary</span>
        </h6>

    </div>


    <div class="col-12 card mb-4">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="col-12 card mb-4">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>
<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
             alt="Card image cap">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
</div>

<div class="container">
    <!-- Card content -->

    <div class="card-deck mb-3">
        <div class="card-body">
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>My adventure</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
                    perspiciatis
                    voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                    placeat
                    laborum ut beatae ullam suscipit veniam.
                </p>

            </div>
        </div>
    </div>


    <!-- Card -->


</div>


<script>
    // JavaScript for label effects only
    $(".input-effect input").val("");
    $(".input-effect input").focusout(function () {
        if ($(this).val() != "") {
            $(this).addClass("has-content");
        } else {
            $(this).removeClass("has-content");
        }
    });
</script>
</body>
</html>